.content-top {
    margin-top: 4rem;
    margin-bottom: 3rem;
}

.header-logo {
    width: 160px;
    height: 44px;
    object-fit: cover;
    object-position: 0% 47%;
}

.cursor-pointer {
    cursor: pointer;
}

.list-subtext {
    font-size: 0.8rem;
}

.list-date {
    font-size: 0.8rem;
    color: #777777;
}

.list-icon-button {
    background-color: transparent !important;
    border-style: none !important;
}

.text-purple-color {
    color: rgb(36, 7, 71) !important
}

.link-purple-color {
    color: rgb(36, 7, 71) !important
}

.link-purple-color:hover {
    color: rgb(79, 16, 156) !important
}

.link-red-color {
    color: rgb(239, 82, 91) !important
}

.link-orange-color {
    color: rgb(241, 172, 144) !important
}

.btn-outline-header {
    color: rgb(36, 7, 71);
    border-color: rgb(36, 7, 71);
}

.btn-outline-header:hover {
    color: #fff;
    background-color: rgb(36, 7, 71);
    border-color: rgb(36, 7, 71);
}

.btn-outline-header-pushed {
    color: #fff;
    background-color: rgb(36, 7, 71);
    border-color: rgb(36, 7, 71);
}

.btn-outline-header-pushed:hover {
    color: #fff;
    background-color: rgb(62, 7, 129);
    border-color: rgb(62, 7, 129);
}

.btn-outline-header-gray {
    color: rgb(161, 161, 161);
    border-color: rgb(161, 161, 161);
}

.btn-outline-header-gray:hover {
    color: #fff;
    background-color: rgb(161, 161, 161);
    border-color: rgb(161, 161, 161);
}

.btn-outline-header-pushed-gray {
    color: #fff;
    background-color: rgb(161, 161, 161);
    border-color: rgb(161, 161, 161);
}

.btn-outline-header-pushed-gray:hover {
    color: #fff;
    background-color: rgb(112, 112, 112);
    border-color: rgb(112, 112, 112);
}

.bg-category {
    background-color: rgb(192, 196, 224);
}

.bg-category-gray {
    background-color: rgb(190, 190, 190);
}

.list-item {
    background-color: white;
}

.list-item:hover {
    background-color: rgb(225, 226, 240);;
}

.list-item-gray {
    background-color: white;
}

.list-item-gray:hover {
    background-color: rgb(238, 238, 238);;
}

.list-icon-items {
    visibility: hidden;
}

.list-icon-items:hover {
    visibility: visible;
}

.card-top {
    max-width: 540px;
}

.card-text-area {
    height: calc( 1.25em * 5 );
    line-height: 1.3;
    overflow: hidden;
    text-overflow: ellipsis;
}