.content-top {
    margin-top: 4rem;
}

.header-logo {
    width: 160px;
    height: 44px;
    object-fit: cover;
    object-position: 0% 47%;
}

.cursor-pointer {
    cursor: pointer;
}

.list-subtext {
    font-size: 0.8rem;
}

.list-date {
    font-size: 0.8rem;
    color: #777777;
}